security:
    password_hashers:
        App\Entity\User:
            algorithm: auto
            cost: 4
            time_cost: 3
            memory_cost: 10 
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        login:
            pattern: ^/api/login
            stateless: true
            json_login:
                check_path: /api/login_check
                username_path: email 
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        api_jwt:
            pattern: ^/api/(user_dashboard|profile)
            stateless: true
            jwt: ~

    access_control:
    - { path: ^/api/profile, roles: ROLE_USER }
    - { path: ^/api/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/api/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/api/trips, roles: IS_AUTHENTICATED_ANONYMOUSLY }


